/* software/video-repurposer/app/dashboard.css */
:root {
    --red: #EF4444;
}

body { font-family: 'Inter', sans-serif; background-color: #000; }

.font-inter { font-family: 'Inter', sans-serif; }

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 10px; }

@keyframes pulse-red {
    0% { opacity: 0.6; }
    50% { opacity: 1; }
    100% { opacity: 0.6; }
}

.animate-pulse-red {
    animation: pulse-red 2s infinite;
}
